<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ignoreCharacterList" type="SuspiciousObjectExporter.ShareTypes.IgnoreCharacterDataEntity, SuspiciousObjectExporter, Version=1.0.0.0, Culture=neutral"/>
    <section name="trimCharacterList" type="SuspiciousObjectExporter.ShareTypes.ReplaceCharacterDataEntity, SuspiciousObjectExporter, Version=1.0.0.0, Culture=neutral"/>
    <section name="soDataColumnSettings" type="SuspiciousObjectExporter.ShareTypes.SuspiciousObjectDataColumnSettings, SuspiciousObjectExporter, Version=1.0.0.0, Culture=neutral"/>
    <section name="soTypeSettings" type="SuspiciousObjectExporter.ShareTypes.SuspiciousObjectTypeSettings, SuspiciousObjectExporter, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
  <appSettings>
    <!--*******************************Customerization Section***********************************-->
    <!--[Variable] The floder for output-->
    <add key="outputRootFloderPath" value="C:\Program Files (x86)\SuspiciousObjectExporter\"/>
    <add key="outputFloderName" value="Export"/>
    <add key="templateFloderName" value="Template"/>
    <!--[Variable] The Stylesheet File for the Template-->
    <add key="stylesheetFile" value="ExportCPL.xslt"/>
    <!--<add key="styleSheetFile" value="ExportSTIX.xslt"/>-->
    <!--[Variable] The File Name for output-->
    <add key="outputFile" value="SuspiciousObjectList.txt"/>
    <!--<add key="outputFile" value="SuspiciousObjectList.xml"/>-->
    <!--*******************************Customerization Section***********************************-->
    <!--**************************************************************************************-->
    <!--*******************************Constant Section for Application****************************-->
    <!--[Constant] Default Export Settings-->
    <add key="defaultSampleSourceRootFolderName" value="SuspiciousObjectExporter\Lib\"/>
    <add key="defaultSampleDataSource" value="SampleData.xml"/>
    <add key="defaultSampleTemplates" value="ExportCPL.xslt|ExportSTIX.xslt"/>
    <add key="defaultLogRootFolderName" value="Log"/>
    <add key="defaultExportRecordLogFile" value="ExportRecord.log"/>
    <add key="defaultExceptionLogFile" value="ApplicationException.log"/>
    <add key="defaultSampleBatchRunFile" value="Run.bat"/>
    <add key="defaultSamplePowerShellRunFile" value="Run.ps1"/>
    <!--*******************************Constant Section for Application****************************-->
  </appSettings>
  <!--********************************Customerization Section***********************************-->
  <!--[Variable] Ignore items with Regular Express-->
  <ignoreCharacterList isEnable="false">
    <ignoreList>
      <!--[' ', '!', '"', '&', "'", '(', ')', ',', '<', '=', '>', '[', ']', '|']-->
      <add name="Entity" value="\s|!|&quot;|&amp;|'|\(|\)|,|&lt;|=|&gt;|\[|\]|\|"></add>
    </ignoreList>
  </ignoreCharacterList>
  <!--[Variable] Trim strings with Regular Express-->
  <trimCharacterList isEnable="false">
    <replaceList>
      <!--trim scheme, port, parameters-->
      <add name="Entity" value="^http://|^https://|:[0-9]+|\?.+"></add>
    </replaceList>
  </trimCharacterList>
  <!--[Variable] Suspicious Object Data Column Settings for Query-->
  <soDataColumnSettings isEnable="true">
    <suspiciousObjectColumns>
      <add id="1" name="SeqID" isEnable="true"></add>
      <add id="2" name="MD5Key" isEnable="true"></add>
      <add id="3" name="Entity" isEnable="true"></add>
      <add id="4" name="Severity" isEnable="true"></add>
      <add id="5" name="Type" isEnable="true"></add>
      <add id="6" name="ReportID" isEnable="true"></add>
      <add id="7" name="Expiration" isEnable="true"></add>
      <add id="8" name="IsNeverExpired" isEnable="true"></add>
      <add id="9" name="HasAssessed" isEnable="true"></add>
      <add id="10" name="RiskEndPoints" isEnable="true"></add>
      <add id="11" name="ScanAction" isEnable="true"></add>
      <add id="12" name="ScanActionDesc" isEnable="true"></add>
      <add id="13" name="SourceType" isEnable="true"></add>
      <add id="14" name="Status" isEnable="true"></add>
      <add id="15" name="LastAssessedTime" isEnable="true"></add>
      <add id="16" name="LastUpdateTime" isEnable="true"></add>
      <add id="17" name="UserDefineTime" isEnable="true"></add>
      <add id="18" name="UserDefineNotes" isEnable="true"></add>
      <add id="19" name="RecordCount" isEnable="true"></add>
      <add id="20" name="ExportTotalCount" isEnable="true"></add>
      <add id="21" name="SYS_SystemID_Guid" isEnable="true"></add>
    </suspiciousObjectColumns>
  </soDataColumnSettings>
  <!--[Variable] Suspicious Object Type Settings for Query-->
  <soTypeSettings isEnable="true">
    <suspiciousObjectTypeList>
      <add value="0" description="IP" isEnable="true"></add>
      <add value="1" description="Domain" isEnable="true"></add>
      <add value="2" description="SHA1" isEnable="true"></add>
      <add value="3" description="URL" isEnable="true"></add>
    </suspiciousObjectTypeList>
  </soTypeSettings>
  <!--********************************Customerization Section***********************************-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
